:root {
    --main-clr:#e7e247;
    --sec-clr: #3d3b30;
    --last-clr: #310a31c6;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header section */

header {
    background-color: var(--sec-clr);
    width: 100vw;
    height: 100px;
    /* margin: auto; */
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}


/* hero section */
main {
    /* background-color: red; */
    width: auto;
    height: auto;
    min-height: 900px;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top button {
    font-size: 1.2rem;
    padding: 1.5rem;
    width: 150px;
    background-color: var(--main-clr);
    border-radius: 25px;
    border-color: var(--sec-clr);
    margin: 20px;
}

.container {
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(4 ,1fr);
    grid-auto-rows: auto;
}

.card {
    /* background-color: red; */
    /* max-height: 300px; */
    height: 250px;
    width: 320px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    border-bottom: 15px solid var(--main-clr);
    margin: 20px;
}

.card .title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.card * {
    font-size: 1.2rem;
}

.card button {
    width: 100px;
    height: auto;
    font-size: 1rem;
    padding: 5px;
    margin-top: 25px;
    margin-left: auto;
    border-radius: 10px;
    background-color: var(--main-clr);
    border-color: var(--sec-clr);
}

.popup {
    position: absolute;
    top: 120px;
    right: 900px;
    z-index: 1;
}

.popup-dialog {
    width: 500px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin-right: 25px;
}

#reading {
    margin: 2px;
}